!!! 5
%html(lang="ja")
  %head
    %meta(charset="UTF-8")
    %title LT on Seesaa at 2011-11-22
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    %link(rel="stylesheet" media="screen" href="/css/style.css")
    %script(src="//code.jquery.com/jquery-1.6.2.min.js")
    %script(src="/js/flot.js")
  %body
    %header
      %h1 HTTP とキー音
    %div
      %ul
        %li
          %a 再生してみる
        %li 
          %a(href="wave.html") 波形
        %li
          %a(href="open-al.html") OpenAL
        %li
          %a(href="//localhost:3000/input") 再生してみる
        %li
          %a(href="problems.html") 課題
        %li
          %a(href="https://github.com/kuniyoshi/http-pulse") https://github.com/kuniyoshi/http-pulse
    %footer

